@model LanguageCenter.Areas.Home.Models.Class.ClassModel

@{
    ViewBag.Title = "FullCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
</style>
<div class="container" style=" background-color: #1d89f8; opacity: 0.7; color: white;">
    <div class="row">
        <div class="col-md-12">
            <h4 class="title">Thời khóa biểu lớp: @Model.ClassName</h4>
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
</div><!-- /.container -->
<div class="container" style=" background-color: white; padding: 50px 15px;">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body no-padding">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
            </div><!-- /.box-body -->
        </div><!-- /. box -->
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/i18n/jquery.ui.datepicker-be.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/lang-all.js"></script>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            monthNames: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            dayNames: ['Chủ nhật', 'Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy'],
            dayNamesShort: ['Chủ nhật','Thứ hai', 'Thứ ba', 'Thứ tư', 'Thứ năm', 'Thứ sáu', 'Thứ bảy'],
            lang: 'vi',
            locale: 'vi',
            header:
            {
                left: 'prev,next today',
                center: 'title',
                right: ''
            },
            buttonText: {
                today: 'Ngày hiện tại',
                month: 'Tháng',
                week: 'Tuần',
                day: 'Ngày'
             },
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '/HomeClassWeekDay/GetCalendarByClassID?classID=' + '@Model.ClassID',
                    type: "GET",
                    dataType: "JSON",

                    success: function (result) {
                        debugger
                        var events = [];

                        $.each(result.data, function (i, data) {
                            events.push(
                                {
                                    title: "Thời giam bắt đầu:" + data.StartTime + " \n Thời gian kết thúc:" + data.EndTime,
                                    description: "a",
                                    start: moment(data.ClassWeekDayTime).format('YYYY-MM-DD'),
                                    //end: moment(data.ClassWeekDayTime).format('YYYY-MM-DD'),
                                    end: "2020-02-03",
                                    backgroundColor: "#1d89f8",
                                    borderColor: "none"
                                });
                        });

                        callback(events);
                    }
                });
            },

             eventRender: function (event, element) {
                debugger
                //element.qtip(
                //    {
                //        content: event.description
                //    });
            },

            editable: false
        });

    });




</script>

