@model IEnumerable<LanguageCenter.Models.UserModel>
@{
    ViewBag.Title = "Trang chủ quản trị";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<button id="button-delete">Delete selected row</button>
<button id="button-new">thêm mới</button>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
 

    $(document).ready(function () {

        // tạo search cho lưới
        $('#example thead tr').clone(true).appendTo('#example thead');
        $('#example thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw(); 
                }
            });
        });

        // build table
        var table=   $('#example').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/HomeAdmin/getpage",
                "type": "POST",
                
            },
            "columns": [
                { "data": "UserID" },
                { "data": "FullName" },
            ],
            "initComplete": function () {
                eventDoubleClick();
            } 
        });
        // sự kiện dupclick thì  vào trang chi tiết
        var eventDoubleClick = function () {
            
            $('#example tr').dblclick(function () {
                debugger
                var row = $('#example').DataTable().row($(this)).data();
                window.location = "/Account/Login";
            });
        };
        // xử lý selected dòng trên lưới
        $('#example tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        // xử lý xóa dòng selected
        $('#button-delete').click(function () {
            // lấy được dòng vào đang selected xong mình lấy dk ID rồi truyền vào
            var record = table.row('.selected').data();
            $.ajax({
                method: "GET",
                url: "link xóa",
                data: {
                    id: 1,
                },

                success: function (data) {
                    table.ajax.reload();
                },
                error: function (data) {
                }
            });
        });
        // xử lý thêm mới
        $('#button-new').click(function () {
            // lấy được dòng vào đang selected xong mình lấy dk ID rồi truyền vào
            window.location = "link thêm mới";
        });
    });
</script>