
@{
    ViewBag.Title = "Studentes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
</style>
<div class="container-homeadmin">
    <div class="row">
        <div class="col-lg-12 col-md-12 title">
            <span>Danh sách học sinh</span>
        </div>
    </div>
    <div class="row" style=" position: relative; margin: 0px 10px 10px 0px;">
        <div class="action-FormList">
            <button id="btnAddNew" class="btn-add-new"><span class="">Thêm mới</span></button>
            <a id="btnDeleteAll" class="btn-delete-all"><span>Xóa tất cả</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 ">
            <table style="width:100%;" id="StudentTable" class="table-striped table-bordered table cust-datatable dataTable no-footer">
                <thead class="Table-Thead">
                    <tr class="Table-Thead-tr">
                        <th>ID</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Ngày sinh</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Hoạt động</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="modal right fade" id="popUp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="static" data-mdb-keyboard="false">
    <div class="modal-dialog modal-side modal-top-right " style="width: 500px; float: right; height:90%;margin-top:55px">
        <div class="modal-content" style="height:100%">
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<script href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script>
    var tableName = "StudentTable";
    var popUpName = "popUp";
    var totalColum = 7;
    var dataJson;
    var urlUpdatePopup = '/luu-hoc-sinh';
    var urlDetailPopup = "/chi-tiet-hoc-sinh/";
    var urlDataTable = "/danh-sach-hoc-sinh";
    var urlDeleteDetail = "/xoa-hoc-sinh";
    var idColum = "StudentID";
    var buildTable
    $(document).ready(function () {
        buildTable = $('#' + tableName + '').DataTable({
            "ajax": {
                "url": urlDataTable,
                "type": "Post",
                "datatype": "json"
            },
            "columns": [
                { "data": "StudentID", "name": "StudentID" },
                { "data": "FirtName", "name": "FirtName" },
                { "data": "LastName", "name": "LastName" }, 
                {
                    "data": "DateOfBirth", "name": "DateOfBirth", "render": function (data, type, full) {
                        var date = data.replace("Date", "");
                        date = date.replaceAll("/", "");
                        date = date.replace("(", "");
                        date = date.replace(")", "");
                        date = parseInt(date);
                        return moment(new Date(date)).locale('el').format('DD/MM/YYYY');
                       
                    } 
                },
                { "data": "PhoneNumber", "name": "PhoneNumber" },
                { "data": "CurrentAddress", "name": "CurrentAddress" },
                { "data": "Email", "name": "Email" },
                {
                    "data": "TeacherID", "render": function (data) {
                        return "<a class='btn btn-edit-table'  id=" + data + "><i class='fa fa-pencil-alt icon-edit-table'></i></a><a class='btn btn-delele-table' style='margin-left:5px' id=" + data + "><i class='fa fa-times icon-delete-table'></i></a>";
                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "80px"
                }
                
            ],
            "processing": true,
            "serverSide": true,
            //"scrollX": true,
            //scrollY: true,
            "language": {
                search: "",
                lengthMenu: "Hiển thị _MENU_",
                entries: "",
                processing: "<i class='fa fa-spinner fa-spin' style='font-size:50px;color: #3ca4ab'></i>",
                infoEmpty: "",
                infoFiltered: "",
                searchPlaceholder: "Tìm kiếm thông tin",
                //emptyTable: emptyselected,
                zeroRecords: "<class='text-danger' align='center'>Không có dữ liệu</>",
                info: "Bản ghi từ _START_ đến _END_ trong tổng số _TOTAL_ bản ghi",
                paginate:
                {
                    previous: "<",
                    next: ">",
                    first: "",
                    last: ""
                },
                select: {
                    rows: {
                        _: "",
                        0: "",
                        1: ""
                    }
                },
            },
            //"dom": '<"top"l>rt<"bottom"ip><"clear">',
            "dom": '<"top">rt<"bottom"lirp><"clear">',
            "fnInitComplete": function (oSettings, json, obj) {

                if (json.data.length > 0) {
                    addSearchControl(oSettings, json);
                    //eventDoubleClick();
                    selected();
                    caculatorHeightTable();
                    
                }
                changeCss();
                actionControl();
            }
        });
        function hoverTbody() {
            $('#' + tableName + ' tbody')
                .on('mouseenter', 'td', function () {
                    var colIdx = buildTable.cell(this).index().column;
                    $(buildTable.cells().nodes()).removeClass('highlight');
                    $(buildTable.column(colIdx).nodes()).addClass('highlight');
                });
        }
        //hoverTbody();
        function changeCss() {
            $('.table-striped tbody tr td').css("cssText", "border-bottom: 1px solid #dee2e6;");
            $('.table-striped tbody tr td:last-child').css("cssText", "border-bottom: 1px solid #dee2e6;text-align: center;");
            $('.table-striped tbody tr td:first-child').css("cssText", "border-bottom: 1px solid #dee2e6;text-align: center;");
            $('#' + tableName + '_wrapper .dataTables_scrollBody').css("cssText", "border-bottom: 1px solid #dee2e6 1px solid #dee2e6 !important");
            $('.table-striped thead tr td').css("cssText", "border-bottom: 1px solid #dee2e6;");
            $('#' + tableName + '_length select').css("cssText", " width: 70%;");
            $('.page-item.active .page-link').css("cssText", "color: white; border: 1px solid rgb(222, 226, 230);background-color: #3ca4ab;");
        }

        var caculatorHeightTable = function () {
            var windowHeight = $(window).height();
            var nav = $('.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark').height();
            var title = $('.container-homeadmin .title').height();
            var dataTablesscrollHead = $('.dataTables_scrollHead').height();
            var dataTableslength = $('.dataTables_length').height();
            $('.dataTables_scrollBody').height(windowHeight - nav - title - dataTablesscrollHead - dataTableslength * 2 - 100);
            //$('.table-striped tbody tr').css("cssText", "height:10px !important");
        }
        function addSearchControl(oSettings, json) {

            dataJson = json.data;
            $("#" + tableName + " thead").append($("#" + tableName + " thead tr:first").clone());
            $("#" + tableName + " thead tr:eq(1) th").each(function (index) {
                if (index != 7) { 
                    $(this).replaceWith('<th><input type="text" class="table-ip-search" ></input></th>');
                    var searchControl = $("#" + tableName + " thead tr:eq(1) th:eq(" + index + ") input");
                    searchControl.on('keyup', function () {
                        buildTable.column(index).search(searchControl.val()).draw();
                    });
                } else if (index == totalColum) {
                    $(this).replaceWith('<th></th>');
                }
                else {
                    var elementDropDown = $('<select class="table-sl-search" />');
                    elementDropDown.append($('<option/>').attr('value', '').text('Tất cả'));
                    var email = [];
                    var nameElement = oSettings.aoColumns[index].data;
                    $(json.data).each(function (index, element) {
                        if ($.inArray(element.Email, email) == -1) {
                            email.push(element.Email);
                            elementDropDown.append($('<option/>').attr('value', element.Email).text(element.Email));
                        }
                    });
                    $(this).replaceWith('<th>' + $(elementDropDown).prop('outerHTML') + '</th>');
                    var searchControl = $("#" + tableName + " thead tr:eq(1) th:eq(" + index + ") select");
                    searchControl.on('change', function () {
                        buildTable.column(index).search(searchControl.val() == "" ? "" : '^' + searchControl.val() + '$', true, false).draw();
                    });
                }
            });
        }
        var eventDoubleClick = function () {
            $('#' + tableName + ' tbody tr').dblclick(function () {
                var row = $('#' + tableName + '').DataTable().row($(this)).data();
                alert("Test");
                //window.location = "/Account/Login";
            });
        };

        var selected = function () {
            $('#' + tableName + ' tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    //table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            })
        };

        var actionControl = function () {
            $('#btnAddNew').off('click').on('click', function () {
                var url = urlDetailPopup;
                $('#' + popUpName).modal('show');
                $('#' + popUpName + ' .modal-content').load(url);
            });
            $('#btnDeleteAll').off('click').on('click', function () {
                var listItemToDelete = [];
                $("#" + tableName + "_wrapper .selected").each(function () {
                    var row = buildTable.row($(this));
                    var itemId = $(row.data()).attr(idColum);
                    if (listItemToDelete.indexOf(itemId) < 0) {
                        listItemToDelete.push(itemId);
                    }
                });
                if (!confirm("Bạn có đồng ý xóa???")) {

                    return false;
                }
                else {
                    if (listItemToDelete.length <= 0) {
                        $.notify("Bạn phải chọn bản ghi", {
                            globalPosition: "top center",
                            className: "error"
                        });
                        return;
                    }
                    else {
                        $.ajax({
                            url: urlDeleteDetail,
                            data: { id: listItemToDelete },
                            type: 'POST',
                            dataType: 'json',
                            success: function (result) {
                                if (result.success) {
                                    var data = result.message;
                                    $.notify(data, {
                                        globalPosition: "top center",
                                        className: "success"
                                    });
                                    listItemToDelete = [];
                                }
                                else {
                                    $.each(result,
                                        function (index) {
                                            message = result[index].Message;
                                        });
                                    $.notify(message, {
                                        globalPosition: "top center",
                                        className: "error"
                                    });
                                }
                                buildTable.ajax.reload();

                            },
                            error: function (result) {
                                $.each(result,
                                    function (index) {
                                        message = result[index].Message;
                                    });
                                $.notify(message, {
                                    globalPosition: "top center",
                                    className: "error"
                                });
                            }
                        });
                    }
                }

            });
            $('#' + tableName).each(function () {

                var obj = $(this);
                var item = $("tbody", obj);
                item.on("click",
                    ".btn-edit-table",
                    function (e) {
                        let row = buildTable.row($(this).parents("tr"));
                        var url = urlDetailPopup + $(row.data()).attr(idColum);;
                        $('#' + popUpName).modal('show');
                        //$('#' + popUpName).css('margin-right', '0');
                        $('#' + popUpName + ' .modal-content').load(url);
                        e.stopPropagation();
                    })
            });
            $('#' + tableName).each(function () {
                var obj = $(this);
                var item = $("tbody", obj);
                item.on("click",
                    ".btn-delele-table",
                    function (e) {
                        let row = buildTable.row($(this).parents("tr"));
                        var id = [];
                        var itemDeleteID = $(row.data()).attr(idColum);;
                        id.push(itemDeleteID);
                        if (!confirm("Bạn có đồng ý xóa???")) {
                            return false;
                        }
                        else {
                            $.ajax({
                                url: urlDeleteDetail,
                                data: { id },
                                type: 'POST',
                                dataType: 'json',
                                success: function (result) {
                                    if (result.success) {
                                        var data = result.message;
                                        $.notify(data, {
                                            globalPosition: "top center",
                                            className: "success"
                                        });
                                        id = [];
                                        buildTable.ajax.reload();
                                    }
                                    else {
                                        $.each(result,
                                            function (index) {
                                                message = result[index].Message;
                                            });
                                        $.notify(message, {
                                            globalPosition: "top center",
                                            className: "error"
                                        });
                                    }
                                },
                                error: function (result) {
                                    $.each(result,
                                        function (index) {
                                            message = result[index].Message;
                                        });
                                    $.notify(message, {
                                        globalPosition: "top center",
                                        className: "error"
                                    });
                                }
                            });
                        }
                        e.stopPropagation();
                    })
            });
        }
    });
</script>
