<section>
    <div class="home-footer">
        <div class="container">
            <div class="col-lg-12 col-md-12">
                <div class="home-footer-logo">
                    <img src="~/image/logo.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="home-footer-content">
                    <div class="col-lg-4 col-md-4">
                        <span>a</span>
                        <span>a</span>
                        <span>a</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>