@using System.Security.Claims;
<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Educate</title>
    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/stylesheets/shortcodes.css">
    <link rel="stylesheet" type="text/css" href="~/css/stylesheets/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/css/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/stylesheets/colors/color1.css" id="colors">
    <link href="~/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed" sizes="48x48">
    <link href="~/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="~/icon/favicon.png" rel="shortcut icon">



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    @*<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">*@
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet'>
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.min.css">


</head>
<body class="header-sticky">
    <div class="boxed">
        <div class="windows8">
            <div class="preload-inner">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
        </div>
        <div class="header-inner-pages">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-information">
                                @*<p>Trung tâm tin học ngoại ngữ</p>*@
                            </div>
                            <div class="right-bar">
                                <ul class="flat-information">
                                    <li class="phone">
                                        <a @*href="0227.3633.134"*@ title="Phone number">0227.3633669</a>
                                    </li>
                                    <li class="email">
                                        <a href="mailto:support@tbu.edu.vn" title="Email address"> support@tbu.edu.vn</a>
                                    </li>

                                </ul>
                                <ul class="flat-socials">
                                    @if (string.IsNullOrEmpty(User.Identity.Name))
                                    {
                                        <li>
                                            <a href="/Account/Login" id="Login">Đăng nhập</a>
                                            <a href="/Account/Register">Đăng ký</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="">@User.Identity.Name</a>
                                            @if (((ClaimsIdentity)User.Identity).FindFirst("TypeUser").Value == "3")
                                            {
                                                <ul class="flat-socials-submenu">
                                                    <li><a href="/admin">Quản trị</a></li>
                                                    <li><a href="/Account/LogOff">Đăng xuất</a></li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <ul class="flat-socials-submenu">
                                                    <li><a href="/thong-tin-sinh-vien">Thông tin</a></li>
                                                    <li><a href="/Account/LogOff">Đăng xuất</a></li>
                                                </ul>
                                            }
                                        </li>
                                    }

                                    <li class="flat-socials-info" style="display:none">
                                        <a href="">Thông tin</a>
                                    </li>
                                    <li class="facebook">
                                        <a>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="linkedin">
                                        <a>
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="youtube">
                                        <a>
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.header-inner-pages -->
        <!-- Header -->
        <header id="header" class="header clearfix">
            <div class="container">
                <div class="header-wrap clearfix">
                    <div id="logo" class="logo">
                        <a href="/trang-chu" rel="home">
                            <img src="~/images/tbu-logo.png" alt="image">
                        </a>
                    </div><!-- /.logo -->
                    <div class="nav-wrap">
                        <div class="btn-menu">
                            <span></span>
                        </div><!-- //mobile menu button -->
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu">
                                <li class="home">
                                    <a class="menu-li-a home selected" href="/trang-chu">Trang chủ</a>
                                </li>
                                <li>
                                    <a class="menu-li-a ">Giới thiệu</a>
                                </li>
                                <li class="has-sub">
                                    <a class="menu-li-a course" href="/khoa-hoc">Khóa học</a>
                                </li>
                                <li>
                                    <a class="menu-li-a class">Lớp học</a>
                                    <ul class="submenu">
                                        <li><a href="/lich-hoc">Lịch học</a></li>
                                        <li><a>Lịch thi</a></li>
                                    </ul><!-- /.submenu -->
                                </li>
                                <li>
                                    <a class="menu-li-a contact">Liên hệ</a>
                                </li>

                            </ul><!-- /.menu -->
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('ul.menu').each(function () {
                                        $('a.menu-li-a').off('click').on('click', function () {
                                            $('ul.menu a.menu-li-a').removeClass('selected');
                                            $(this).addClass('selected');
                                        })
                                    });

                                })
                            </script>
                        </nav><!-- /.mainnav -->
                    </div><!-- /.nav-wrap -->
                    <div id="s" class="show-search">
                        <a><i class="fa fa-search"></i></a>
                    </div><!-- /.show-search -->

                    <div class="submenu top-search">
                        <div class="widget widget_search">
                            <form class="search-form">
                                <input type="search" class="search-field" placeholder="Search …">
                                <input type="submit" class="search-submit">
                            </form>
                        </div>
                    </div>
                </div><!-- /.header-inner -->
            </div>
        </header><!-- /.header -->
        <div style=" background-color: #f2f2f2; ">
            @RenderBody()
        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="widget widget-text">
                                <img src="~/images/home-baner.png" alt="image">
                                <ul>
                                    <li class="address">Địa chỉ: Tân Bình, Thành phố Thái Bình</li>
                                    <li class="phone"><a>Điện thoại: 0227.3633669</a></li>
                                    <li class="email"><a>Email: support@ascvn.edu.vn</a></li>
                                </ul>
                            </div><!-- /.widget -->
                        </div>

                        <div class="col-md-3">
                            <div class="widget widget_tweets clearfix">
                                <h5 class="widget-title">Links và liên kết nhà trường</h5>
                                <ul class="link-left">
                                    <li>
                                        <a href="/trang-chu">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a>Giới thiệu</a>
                                    </li>
                                    <li>
                                        <a>Khóa học</a>
                                    </li>
                                    <li>
                                        <a>Đăng ký học</a>
                                    </li>
                                    <li>
                                        <a>Lớp học</a>
                                    </li>
                                </ul>
                                <ul class="link-right">
                                    <li>
                                        <a>Website nhà trường</a>
                                    </li>
                                    <li>
                                        <a>Phòng đào tạo</a>
                                    </li>
                                    <li>
                                        <a>Phòng hợp tác quốc tế</a>
                                    </li>
                                    <li>
                                        <a>Cơ sở của trường</a>
                                    </li>

                                </ul>
                            </div><!-- /.widget-recent-tweets -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-3">
                            <div class="widget widget_tweets clearfix">
                                <h5 class="widget-title">Liên kết tuyển sinh</h5>
                                <ul class=" ">
                                    <li>
                                        <a>Tra cứu điểm thi</a>
                                    </li>
                                    <li>
                                        <a>Liên hệ trực tiếp</a>
                                    </li>
                                    <li>
                                        <a>Câu hỏi thường gặp</a>
                                    </li>
                                </ul>

                            </div><!-- /.widget-recent-tweets -->
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-3">
                            <div class="widget widget-quick-contact">
                                <h5 class="widget-title">Liên hệ</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="flat-contact-form" id="contactform2" method="post" action="./contact/contact-process.php">

                                            <input type="email" value="" tabindex="2" placeholder="Nhập Email" name="email" id="email-contact" required="">

                                            <textarea class="type-input" tabindex="3" placeholder="Nhập tin nhắn" name="message" id="message-contact" required=""></textarea>

                                            <button class="flat-button bg-orange"><i class="fa fa-long-arrow-right"></i></button>

                                        </form><!-- /.comment-form -->
                                    </div><!-- /.col-md-12 -->
                                </div>
                            </div><!-- /.widget .widget-instagram -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->
        </footer>

        <a class="go-top">
            <i class="fa fa-chevron-up"></i>
        </a>

        <!-- Bottom -->
        <div class="bottom">
            <div class="container">
                <ul class="flat-socials-v1" style="margin-bottom:0px;">
                    <li class="facebook">
                        <a><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="twitter">
                        <a><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="vimeo">
                        <a><i class="fa fa-vimeo"></i></a>
                    </li>
                    <li class="rss">
                        <a><i class="fa fa-rss"></i></a>
                    </li>
                </ul>
                <div class="row">
                    <div class="container-bottom">
                        <div class="copyright">
                            <p style="color: #f6f6f6;">Copyright © 2021. <span><a>NthPsd</a></span></p>
                        </div>
                    </div><!-- /.container-bottom -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
    </div><!-- /. boxed -->
    <!-- Javascript -->
    <script>
        $(document).ready(function () {


            //$('.js-select2-enable-search-form-search').select2({
            //    language:
            //    {
            //        noResults: function () {
            //            return "Không có dữ liệu";
            //        }
            //    },
            //});
        })
    </script>
    <script type="text/javascript" src="javascript/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="javascript/jquery-waypoints.js"></script>
    <script type="text/javascript" src="javascript/jquery-countTo.js"></script>
    <script type="text/javascript" src="javascript/parallax.js"></script>
    <script type="text/javascript" src="javascript/jquery.cookie.js"></script>
    @*<script type="text/javascript" src="javascript/switcher.js"></script>*@
    <script type="text/javascript" src="javascript/main.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/javascript/notify.min.js"></script>

</body>
</html>