<div class="container-fluid" id="navbar">
    <div style="background-color:white">
        <div class="container">
            <div class="nav-head">
                <div class="nav-head-logo">
                </div>
                <div class="nav-menu">
                    <div class="nav-head-menu ">
                        <ul class="nav-head-menu-ul">
                            <li class="nav-head-menu-ul-li"><a href="#"><span>Trang chủ</span></a> </li>
                            <li class="nav-head-menu-ul-li"><a href="#"><span>Giới thiệu</span></a> </li>
                            <li class="nav-head-menu-ul-li"><a href="#"><span>Tin tức</span></a> </li>
                            <li class="nav-head-menu-ul-li"><a href="#"><span>Liên hệ</span></a> </li>
                        </ul>
                    </div>
                    <div class="nav-head-menu-item ">
                        <ul class="nav-head-menu-item-ul">
                            <li class="nav-head-item-ul-li"><a href="#"><span>Thông tin tuyển sinh</span></a> </li>
                            <li class="nav-head-item-ul-li"><a href="#"><span>Đăng ký học Online</span></a> </li>
                            <li class="nav-head-item-ul-li"><a href="#"><span>Tra cứu</span></a> </li>
                            <li class="nav-head-item-ul-li"><a href="#"><span>Hướng dẫn</span></a> </li>
                            @*<li class="nav-head-item-ul-li"><a href="#"><span>Sự kiện</span></a> </li>
                            <li class="nav-head-item-ul-li"><a href="#"><span>Thông báo</span></a> </li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

